  <!-- Navigation -->
  <nav class="nav">
    <div class="container nav-content">
      <span class="logo-container">Eman Safavi</span>
      <button class="menu-button" id="menuButton">
        <i data-feather="menu"></i>
      </button>
      <div class="nav-links">
        <a href="default.html">Home</a>
        <a href="{{ '/Projects/' | relative_url }}">projects</a>
        <a href="{{ '/Blogs/' | relative_url }}">Blog</a>
        <a href="{{ '/About/' | relative_url }}">About</a>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div class="mobile-menu" id="mobileMenu">
    <a href="default.html">Home</a>
    <a href="{{ '/Projects/' | relative_url }}">projects</a>
        <a href="{{ '/Blogs/' | relative_url }}">Blog</a>
        <a href="{{ '/About/' | relative_url }}">About</a>
      </div>
  </div>
</body>