  <!-- Navigation -->
  <nav class="nav">
    <div class="container nav-content">
      <span class="logo-container">Eman Safavi</span>
      <button class="menu-button" id="menuButton">
        <i data-feather="menu"></i>
      </button>
      <div class="nav-links">
        <a href="default.html">Home</a>
        <a href="default#projects">Projects</a>
        <a href="default#blog">Blog</a>
        <a href="default#about">About</a>
        <div class="search-container">
            <input type="text" id="search-input" placeholder="Search by tag...">
            <button onclick="searchByTag()">Search</button>
          </div>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div class="mobile-menu" id="mobileMenu">
    <a href="default.html">Home</a>
    <a href="default#projects">Projects</a>
    <a href="default#blog">Blog</a>
    <a href="default#about">About</a>
    <div class="search-container">
        <input type="text" id="search-input" placeholder="Search by tag...">
        <button onclick="searchByTag()">Search</button>
      </div>
  </div>
</body>