<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} | Eman Safavi</title>
  <!-- Make sure you've placed your optimized CSS in /assets/css/index.css -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}"/>
</head>
<body>
  {% include header.html %}

  <!-- Main Content -->
  <main>
  <!-- Hero Section -->
  <section class="hero container">
    <div class="hero-grid">
      <div class="hero-text">
        <h1>Interdisciplinary<br/>Artist/Engineer</h1>
        <p>
          I’m an artist and  an engineer based in Berlin, exploring the space where music, technology, and design meet.
          With a background in chemical engineering, I approach creativity as a system—connecting sonic and visual elements into coherent,
          immersive experiences. My current focus lies in interdisciplinary problem-solving and bridging the worlds of art and technology. 
          With sound in general as my main medium, I explore generative and interactive systems as well as music production and experimental performances.
        </p>
      </div>
      <div class="hero-image">
        <img src="/assets/images/3d.png" alt="Eman Safavi" class="hero-image-content">
      </div>
    </div>
  </section>

  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="about-grid container">
      <div class="about-image-grid">
        <img 
          src="{{ '/assets/images/eman-portrait.png' | relative_url }}"
          alt="Eman Safavi"
          class="about-image-small" />
      </div>
      <div class="about-content-grid">
        <h2>About</h2>
        <div class="about-text-grid">
          <p>
            I’m pursuing a master’s degree in Design and Computation at the Berlin University of the Arts (UdK) 
            and the Technical University of Berlin (TU). My work spans music, sound design, and interactive 
            installations, often blending acoustic instruments with electronic and generative systems.
Holding a bachelor’s in chemical engineering, I bring a structured yet experimental approach to my projects. 
Alongside my practice as a musician, guitar teacher, and sound engineer, I’m driven by the challenge of creating works 
that connect across disciplines and invite audiences to experience sound and space in new ways.
          </p>
        </div>
      </div>
    </div>
  </section>
   
  <!-- Footer -->
  {% include footer.html %}

  <!-- JS & Feather Icons -->
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
  <script>feather.replace()</script>
</body>
</html>