<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{{ page.title }} | Eman Safavi</title>
  <!-- Make sure you've placed your optimized CSS in /assets/css/index.css -->
  <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}"/>
</head>
<body>
  {% include header.html %}

  <!-- Main Content -->
  <main>
    <article class="blog-post container">
      <h2>{{ projects}}</h2>
      <div>
        {{ content }}
      </div>
    </article>
  </main>

  <!-- Footer -->
  {% include footer.html %}

  <!-- JS & Feather Icons -->
  <script src="{{ '/assets/js/index.js' | relative_url }}"></script>
  <script src="https://unpkg.com/feather-icons"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"></script>
  <script>feather.replace()</script>
</body>
</html>